[com-secret]
build_flags =
  ; '-DWifiManager_password="p4ssw0rd"'
  '-DESPWifiManualSetup=true'
  '-Dwifi_ssid="PUT_WIFI_SSID_HERE"'
  '-Dwifi_password="PUT_WIFI_PASSWORD_HERE"'
  '-DMQTT_SERVER="mosquitto.home"'
  '-DMQTT_PORT="1883"'
  '-DMQTT_USER="PUT_MQTT_USER_HERE"'
  '-DMQTT_PASS="PUT_MQTT_PASSWORD_HERE"'
